html, body {
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}
      

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


nav {
    font-family: 'Pacifico', cursive;
    color: black!important;
}



#jumbotron {
    background-image: url('https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

#innerJumbo {
    background-color: white;
    border-radius: 10px!important;
}

/*===========================================================*/
/* Media Queries                                             */
/*===========================================================*/
/* 600,992, 2300 */
@media only screen and (max-width: 600px) {

    nav {
        background: white;
    }


    #jumbotron {
        background-size: 100% auto;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: scroll;
        width: 100%;
        height: 300px;
    }



}