nav {
    font-family: 'Pacifico', cursive;
    color: black!important;
}

#jumbotron {
    background-image: url('https://images.pexels.com/photos/370984/pexels-photo-370984.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 30rem;
}